/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page {
  /*background-image: var(--bg-image);*/
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  background-repeat: no-repeat;
  font-family: 'IBM Plex mono';
  margin: auto;
  /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  block-size: 100vh;
  padding: 0 10px;
  
}
.header__record-icon {
  color: var(--accent-color);
  justify-self: end;
  align-self: start;
  display: flex;
  position: absolute;
  gap: 5px;
  top: 12px;
  right: 8px;
  font-size: var(--main-text-size);
}

.header__record-icon::after {
  content: url("/images/record-icon.svg");
  height: 26px;
  width: 26px;  
}

.header__theme-menu {
  display: flex;
  justify-content: end;
  padding-block-start: 75px;
  margin-block-end: 65px;
}

.header__theme-menu-button {
  background-color: transparent;
  color: var(--accent-color);
  border: none;
  text-transform: lowercase;
  padding-inline-start: 13px;
  padding-inline-end: 13px;
  padding-block-start: 1.5px;
  padding-block-end: 1.5px;
  font-size: var(--main-text-size);
  
}

.header__theme-menu-item:not(:last-child){
  margin-bottom: 10px;
}

.header__theme-menu-button_active {
  outline: 1px solid var(--accent-color);
}
.title {
  color: #DB00FF;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
}
.header__title {
  text-shadow: 4px 4px 0 var(--accent-color);
  display: flex;
  align-self: flex-start;
  
}
.title-decor {
  background-color: var(--accent-color);
  color: var(--theme-main-color);
  font-size: var(--main-text-size);
  margin: 0;
  padding: 0;
}

.header__subtitle {
  font-weight: 700;
  height: min-content;
  margin-block-start: 55px;
}
.record-frame {
  position: absolute;
  height: 25px;
  width: 25px;
  
}
.record-frame-bottom {
  border-block-end: 1px solid var(--accent-color);
  border-inline-start: 1px solid var(--accent-color);
  bottom: 10px;
  left: 10px;
}

.record-frame-top {
  border-block-start: 1px solid var(--accent-color);
  border-inline-end: 1px solid var(--accent-color);
  top: 10px;
  right: 10px;
}

.content {
  background-color: var(--theme-main-color);
  padding: 40px 10px 40px 10px;
  display: grid;
  gap: 50px;
}
.content__section {
  display: grid;
  gap: 20px;
}

.content__heading {
  color: var(--accent-color);
  font-size: var(--main-text-size);
}

.content__card {
  font-size: var(--main-text-size);
  display: flex;
  flex-direction: column;
  gap: 10px;
  line-height: 23.4px;
}

.content__link {
  text-shadow: 2px 2px 0 var(--accent-color);
}

.content__link:hover {
  text-decoration: underline;
}

.content__link:focus {
  border: 1px solid #fff;
}

.section__title-advice {
  font-weight: 400;
}

.gallery {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr;
}

.gallery__image {
  width: 100vw;
  max-width: 355px;
  height: auto;
  object-fit: contain;
  
}

.footer {
  block-size: 100vh;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-color: var(--theme-main-color);
}