/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #FF0070;
  --theme-main-color: #000028;
  --bg-color: #000028;
  --title-color: #DB00FF;
  --text-color: #F1B2CE;
  --menu-color: var(--accent-color);
  --heading-color: var(--accent-color);
  --record-frame-color: var(--accent-color);
  --bg-image: url("../images/cover-image-dark.png");
  --main-text-size: 18px;
  --page-padding: 10px;
}