/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --accent-color: #FF0070;
  --theme-main-color: #000028;
  --bg-image: url("../images/cover-image-dark.png");
  --main-text-size: 18px;

}